<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">冈坂日川</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">主页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">博客</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          个人项目
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Java</a>
          <a class="dropdown-item" href="#">Python</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Vue.js</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">其他</a>
      </li>
    </ul>

      {% if request.user.is_authenticated %}
          Hello, {{ request.user }}
          &nbsp;&nbsp;
          <a href="{% url 'modifypwd' %}" class="btn btn-sm btn-primary">修改密码</a>
          &nbsp;&nbsp;
          <a href="{% url 'logout' %}" class="btn btn-sm btn-dark">退出</a>
      {% else %}
          Hello, 请登录！
          <a href="{% url 'login' %}" class="btn btn-sm btn-info">登录</a>
          &nbsp;&nbsp;
          <a href="{% url 'register' %}" class="btn btn-sm btn-info">注册</a>
      {% endif %}
  </div>
</nav>