{% extends 'yuapp/index.html' %}

{% block title %}更新订单{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div style="height: 100px;"></div>
                <div class="card shadow">
                    <div class="card-header text-center text-light bg-dark">
                        <h3 class="card-title">Update Order</h3>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'updateorder' order.id %}" method="post">
                            {% csrf_token %}
                            {{ o_form.as_p }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}